main {
   display: grid;
   grid-template-columns: repeat(5, 220px);
   grid-template-rows: repeat(2, 223px);
   gap: 1.5rem;
   width: 970px;
}

section.jeremy {
   grid-column: 1 / 2;
   grid-row: 1 / 3;
   height: 470px;

   div.info {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2rem;
      height: 320px;
      padding-left: 30px;

      div.name {

         h1 {
            font-size: 2rem;
         }
      }
   }

   div.period {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
   }
}

section#work {
   grid-column: 2 / 3;
}

section#play {
   grid-column: 3 / 4;
}

section#study {
   grid-column: 4 / 5;
}

section#exercise {
   grid-column: 2 / 3;
}

section#social {
   grid-column: 3 / 4;
}

section#self-care {
   grid-column: 4 / 5;
}

section.content {
   margin: 0;
   
   div.container {
      height: 200px;

      div.activity {
         margin-bottom: 0px;

         h2 {
            font-size: 1rem;
            font-weight: 400;
         }
      }

      div.numbers {
         flex-flow: column nowrap;
         justify-content: flex-start;
         align-items: flex-start;
         gap: .5rem;
         padding-top: 30px;

         p:first-child {
            font-size: 2.8rem;
         }

         p:last-child {
            font-size: .75rem;
         }
      }
   }


}
